<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.laomag.es_spider.mapper.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="co.laomag.es_spider.models.RoleMenu">
    <!--@mbg.generated-->
    <!--@Table role_menu-->
    <id column="id" jdbcType="LONGVARCHAR" property="id" />
    <result column="role_id" jdbcType="LONGVARCHAR" property="roleId" />
    <result column="menu_id" jdbcType="LONGVARCHAR" property="menuId" />
    <result column="create_user" jdbcType="LONGVARCHAR" property="createUser" />
    <result column="create_user_name" jdbcType="LONGVARCHAR" property="createUserName" />
    <result column="create_time" jdbcType="LONGVARCHAR" property="createTime" />
    <result column="update_user" jdbcType="LONGVARCHAR" property="updateUser" />
    <result column="update_user_name" jdbcType="LONGVARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="LONGVARCHAR" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, role_id, menu_id, create_user, create_user_name, create_time, update_user, update_user_name, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from role_menu
    where id = #{id,jdbcType=LONGVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from role_menu
    where id = #{id,jdbcType=LONGVARCHAR}
  </delete>
  <insert id="insert" parameterType="co.laomag.es_spider.models.RoleMenu">
    <!--@mbg.generated-->
    insert into role_menu (id, role_id, menu_id, 
      create_user, create_user_name, create_time, 
      update_user, update_user_name, update_time
      )
    values (#{id,jdbcType=LONGVARCHAR}, #{roleId,jdbcType=LONGVARCHAR}, #{menuId,jdbcType=LONGVARCHAR}, 
      #{createUser,jdbcType=LONGVARCHAR}, #{createUserName,jdbcType=LONGVARCHAR}, #{createTime,jdbcType=LONGVARCHAR}, 
      #{updateUser,jdbcType=LONGVARCHAR}, #{updateUserName,jdbcType=LONGVARCHAR}, #{updateTime,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="co.laomag.es_spider.models.RoleMenu">
    <!--@mbg.generated-->
    insert into role_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createUserName != null">
        create_user_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUser != null">
        update_user,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=LONGVARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=LONGVARCHAR},
      </if>
      <if test="menuId != null">
        #{menuId,jdbcType=LONGVARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="createUserName != null">
        #{createUserName,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateUser != null">
        #{updateUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="co.laomag.es_spider.models.RoleMenu">
    <!--@mbg.generated-->
    update role_menu
    <set>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=LONGVARCHAR},
      </if>
      <if test="menuId != null">
        menu_id = #{menuId,jdbcType=LONGVARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="createUserName != null">
        create_user_name = #{createUserName,jdbcType=LONGVARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateUser != null">
        update_user = #{updateUser,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=LONGVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="co.laomag.es_spider.models.RoleMenu">
    <!--@mbg.generated-->
    update role_menu
    set role_id = #{roleId,jdbcType=LONGVARCHAR},
      menu_id = #{menuId,jdbcType=LONGVARCHAR},
      create_user = #{createUser,jdbcType=LONGVARCHAR},
      create_user_name = #{createUserName,jdbcType=LONGVARCHAR},
      create_time = #{createTime,jdbcType=LONGVARCHAR},
      update_user = #{updateUser,jdbcType=LONGVARCHAR},
      update_user_name = #{updateUserName,jdbcType=LONGVARCHAR},
      update_time = #{updateTime,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=LONGVARCHAR}
  </update>

  <select id="selectByMenuId" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from role_menu
    where menu_id = #{menu_id,jdbcType=LONGVARCHAR}
    </select>
</mapper>